{% extends 'base.html' %}
{% load static %}

{% block content %} 


		<!-- start banner Area -->
		<section class="banner-area relative" id="home">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen d-flex justify-content-center align-items-center">
					<div class="banner-content col-lg-9 col-md-12 justify-content-center">
						<h6 class="text-uppercase">Don’t look further, This is your Center</h6>
						<h1>
							Community General Hemodialysis Center			
						</h1>
						<p class="text-white mx-auto">
							No matter which type of dialysis treatment option you choose, you will want a dialysis center that is near you. We are here to help, from looking for a Dialysis Center to making a schedule for a Hemodialysis Unit. We will assist and even find the best Dialysis professional for you.
						</p>
					</div>											
				</div>
			</div>
		</section>
		<!-- End banner Area -->

		<!-- Start open-hour Area -->
		<section class="open-hour-area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12 open-hour-wrap">
						<h1>Opening Hours</h1>
						<p>
							Get ready to cast your vote and select the right one
						</p>
						
						<div class="date-list d-flex flex-row justify-content-center">
							<ul>
								<li>Monday - Saturday</li>
								<li>Sunday</li>
							</ul>
							<ul class="colm-2">
								<li><span>:</span>   06:00am to 02:00am</li>
								<li><span>:</span>   closed</li>
							</ul>								
						</div>
					</div>
				</div>
			</div>	
		</section>
		<!-- End open-hour Area -->
		
		
		<!-- Start service Area -->
		<section class="service-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12 pb-40 header-text text-center">
						<h1 class="pb-10">What we Offer to our Customers</h1>
						<p>
							Who are in extremely love with eco friendly system.
						</p>
					</div>
				</div>							
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<img class="img-fluid" src="{% static 'Website/dentist/img/s1.jpg' %}" alt="">
							<a href="#"><h4>Delivers efficient service</h4></a>
							<p>
								inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<img class="img-fluid" src="{% static 'Website/dentist/img/s2.jpg' %}" alt="">
							<a href="#"><h4>Enables patients to enjoy life with less worries</h4></a>
							<p>
								inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<img class="img-fluid" src="{% static 'Website/dentist/img/s3.jpg' %}" alt="">
							<a href="#"><h4>Connects patients to the best Doctors available </h4></a>
							<p>
								inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
							</p>
						</div>
					</div>	
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<img class="img-fluid" src="{% static 'Website/dentist/img/s4.jpg' %}" alt="">
							<a href="#"><h4>Provides prescription and Hemodialysis Unit schedule
</h4></a>
							<p>
								inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
							</p>
						</div>
					</div>																		
				</div>
			</div>	
		</section>
		<!-- End service Area -->

		<!-- Start home-about Area -->
		<section class="home-about-area section-gap relative">			
			<div class="container">
				<div class="row align-items-center justify-content-end">
					<div class="col-lg-6 no-padding home-about-right">
						<h1 class="text-white">
							Who we are <br>
							to Serve the nation
						</h1>
						<p>
							 The partnership strategy allows and resulted in the provision of the highest quality hemodialysis facility and allows the most efficient and safe treatment for all Filipinos needing treatment at the most reasonable cost.
						</p>
						<div class="row no-gutters">
							<div class="single-services col">
								<span class="lnr lnr-diamond"></span>
								<a href="#">
									<h4 class="text-white">Expert Services</h4>
								</a>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology.
								</p>
							</div>
							<div class="single-services col">
								<span class="lnr lnr-phone"></span>
								<a href="#">
									<h4 class="text-white">Great Support</h4>
								</a>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology.
								</p>
							</div>								
						</div>
					</div>
				</div>
			</div>	
		</section>
		<!-- End home-about Area -->

		<!-- Start testomial Area -->
		<section class="testomial-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Feedback from our real clients</h1>
							<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game.</p>
						</div>
					</div>
				</div>						
				<div class="row">
					<div class="active-testimonial-carusel">
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t1.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t2.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t3.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>	
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t1.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t2.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t3.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>															
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t1.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t2.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="{% static 'Website/dentist/img/t3.png' %}" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h4>Mark Alviro Wiens</h4>
							<p>
								CEO at Google
							</p>
						</div>														
					</div>
				</div>
			</div>	
		</section>
		<!-- End testomial Area -->		

		<!-- Start team Area -->
	    <section class="team-area section-gap" id="team">
	        <div class="container">
	            <div class="row d-flex justify-content-center">
	                <div class="menu-content pb-70 col-lg-8">
	                    <div class="title text-center">
	                        <h1 class="mb-10">Our Consultants</h1>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="row justify-content-center d-flex align-items-center">
	                <div class="col-lg-3 col-md-6 single-team">
	                    <div class="thumb">
	                        <img class="img-fluid" src="{% static 'Website/dentist/img/t1.jpg' %}" alt="">
	                        <div class="align-items-end justify-content-center d-flex">
	                            <p>
	                            	inappropriate behavior
	                            </p>
	                            <h4>Andy Florence</h4>		                            
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 single-team">
	                    <div class="thumb">
	                        <img class="img-fluid" src="{% static 'Website/dentist/img/t2.jpg' %}" alt="">
	                        <div class="align-items-end justify-content-center d-flex">
	                            <p>
	                            	inappropriate behavior
	                            </p>
	                            <h4>Andy Florence</h4>		                            
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 single-team">
	                    <div class="thumb">
	                        <img class="img-fluid" src="{% static 'Website/dentist/img/t3.jpg' %}" alt="">
	                        <div class="align-items-end justify-content-center d-flex">
	                            <p>
	                            	inappropriate behavior
	                            </p>
	                            <h4>Andy Florence</h4>		                            
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 single-team">
	                    <div class="thumb">
	                        <img class="img-fluid" src="{% static 'Website/dentist/img/t4.jpg' %}" alt="">
	                        <div class="align-items-end justify-content-center d-flex">
	                            <p>
	                            	inappropriate behavior
	                            </p>
	                            <h4>Andy Florence</h4>		                            
	                        </div>
	                    </div>
	                </div>		                		                		                
	            </div>
	        </div>
	    </section>
	    <!-- End team Area -->						
{% endblock %}